USE [master]
GO
/****** Object:  Database [WinTicket]    Script Date: 01/11/2021 00:06:23 ******/
CREATE DATABASE [WinTicket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WinTicket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WinTicket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WinTicket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WinTicket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WinTicket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WinTicket]
GO
/****** Object:  Table [dbo].[Aktivite]    Script Date: 01/11/2021 00:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aktivite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AktiviteTanimi] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Aktivite] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alan]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlanAdi] [nvarchar](250) NOT NULL,
	[TipId] [int] NOT NULL,
 CONSTRAINT [PK_Alan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanTipi]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanTipi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipAdi] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_AlanTipi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Belirtec]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Belirtec](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BelirtecTanimi] [nvarchar](250) NULL,
 CONSTRAINT [PK_Belirtec] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Birim]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BirimAdi] [nvarchar](250) NOT NULL,
	[UstBirimId] [int] NOT NULL,
	[Adres] [nvarchar](max) NOT NULL,
	[IlId] [int] NOT NULL,
	[IlceId] [int] NOT NULL,
	[PostaKodu] [nchar](5) NOT NULL,
	[BirimMudurId] [int] NOT NULL,
 CONSTRAINT [PK_Birim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalisanProblem]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalisanProblem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProblemId] [int] NULL,
	[KullaniciId] [int] NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
	[MudahaleId] [int] NULL,
	[AktiviteId] [int] NULL,
	[AktiviteAciklama] [nvarchar](max) NULL,
	[Tarih] [datetime] NULL,
 CONSTRAINT [PK_CalisanProblem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cikti]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cikti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CiktiAdi] [nvarchar](250) NOT NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
 CONSTRAINT [PK_Cikti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiktiDetay]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiktiDetay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
	[CiktiId] [int] NULL,
	[BelirtecId] [int] NULL,
	[Sira] [int] NULL,
 CONSTRAINT [PK_CiktiDetay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Il]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Il](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IlAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Il] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IlaveCiktiDetay]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IlaveCiktiDetay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProblemId] [int] NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
	[MudahaleId] [int] NULL,
	[BelirtecId] [int] NULL,
	[Sira] [int] NULL,
	[EkleyenKullaniciAdi] [nvarchar](25) NULL,
	[EklenmeTarihi] [datetime] NULL,
 CONSTRAINT [PK_IlaveCiktiDetayDetay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IlaveMudahaleDetay]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IlaveMudahaleDetay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProblemId] [int] NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
	[MudahaleId] [int] NULL,
	[AktiviteId] [int] NULL,
	[Sira] [int] NULL,
	[EkleyenKullaniciAdi] [nvarchar](25) NULL,
	[EklenmeTarihi] [datetime] NULL,
 CONSTRAINT [PK_IlaveMudahaleDetay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilce]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilce](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IlceAdi] [nvarchar](50) NOT NULL,
	[IlId] [int] NOT NULL,
 CONSTRAINT [PK_Ilce] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](30) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciRol]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciRol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KullaniciRol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mudahale]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mudahale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MudahaleAdi] [nvarchar](250) NOT NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
 CONSTRAINT [PK_Mudahale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MudahaleDetay]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MudahaleDetay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
	[MudahaleId] [int] NULL,
	[AktiviteId] [int] NULL,
	[Sira] [int] NULL,
 CONSTRAINT [PK_MudahaleDetay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SicilNo] [nvarchar](50) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[KullaniciAdi] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](500) NOT NULL,
	[IlId] [int] NOT NULL,
	[IlceId] [int] NOT NULL,
	[PostaKodu] [nvarchar](5) NOT NULL,
	[UstPersonelId] [int] NOT NULL,
	[BirimId] [int] NOT NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Personel_SicilNo] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_PersonelEmail] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelProblem]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelProblem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProblemId] [int] NOT NULL,
	[KullaniciId] [int] NOT NULL,
 CONSTRAINT [PK_PersonelProblem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Problem]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipId] [int] NOT NULL,
	[TanimlayiciAd] [nvarchar](250) NOT NULL,
	[TanimlayiciSoyad] [nvarchar](250) NOT NULL,
	[TanimlayiciTCKN] [nvarchar](11) NOT NULL,
	[TanimlayiciPasaportNo] [nvarchar](20) NOT NULL,
	[HedeflenenAmacTanimi] [nvarchar](max) NULL,
 CONSTRAINT [PK_Problem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemBirim]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemBirim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProblemId] [int] NOT NULL,
	[BirimId] [int] NULL,
	[EslesmeTarihi] [date] NULL,
 CONSTRAINT [PK_ProblemBirim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemCikti]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemCikti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
	[CiktiId] [int] NULL,
	[ProblemId] [int] NULL,
 CONSTRAINT [PK_ProblemCikti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemCiktiDegerlendirme]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemCiktiDegerlendirme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProblemId] [int] NULL,
	[BelirtecId] [int] NULL,
	[Skor] [int] NULL,
	[SkorTarihi] [datetime] NULL,
 CONSTRAINT [PK_ProblemCiktiDegerlendirme] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemDurumDegerlendirme]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemDurumDegerlendirme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YeniProblemTanimi] [nvarchar](max) NULL,
	[YeniHedef] [nvarchar](max) NULL,
	[ProblemId] [int] NULL,
	[OncekiProblemSkoru] [int] NULL,
	[TahminEdilenProblemSkoru] [int] NULL,
	[KullaniciId] [int] NULL,
	[DegerlendirmeTarihi] [datetime] NULL,
 CONSTRAINT [PK_ProblemDurumDegerlendirme] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemMudahale]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemMudahale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlanId] [int] NULL,
	[SinifId] [int] NULL,
	[MudahaleId] [int] NULL,
	[ProblemId] [int] NULL,
 CONSTRAINT [PK_ProblemMudahale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemTipi]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemTipi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipAdi] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ProblemTipi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinif]    Script Date: 01/11/2021 00:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinif](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SinifAdi] [nvarchar](250) NULL,
	[AlanTipId] [int] NULL,
 CONSTRAINT [PK_Sinif] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Kullanici_KullaniciAdi]    Script Date: 01/11/2021 00:06:24 ******/
CREATE NONCLUSTERED INDEX [IX_Kullanici_KullaniciAdi] ON [dbo].[Kullanici]
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Birim] ADD  CONSTRAINT [DF_Birim_UstBirimId]  DEFAULT ((0)) FOR [UstBirimId]
GO
ALTER TABLE [dbo].[IlaveCiktiDetay] ADD  CONSTRAINT [DF_IlaveCiktiDetayDetay_EklenmeTarihi]  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[IlaveMudahaleDetay] ADD  CONSTRAINT [DF_IlaveMudahaleDetay_EklenmeTarihi]  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
USE [master]
GO
INSERT INTO [dbo].[Kullanici] (KullaniciAdi, Sifre, RoleId) VALUES ('admin', '0DPiKuNIrrVmD8IUCuw1hQxNqZc=', 1)
GO

